.button
{
    -fx-background-color: none;
    -fx-border-style: none;
    -fx-font-size: 1.5em;
    -fx-cursor: hand;
    -fx-text-alignment: center;
}

.button:hover
{
    -fx-background-radius: 3,2,1;
    -fx-background-color: rgba(0,0,0,0.25);
}

.button:pressed
{
    -fx-padding: 0.3em 0 0 0.3em;
}

.label
{
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

.tile
{
    -fx-cursor: hand;
}

.tile:hover
{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.tile:pressed
{
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.tile .label
{
    -fx-text-fill: #000;
    -fx-effect: dropshadow( gaussian, rgb(255,255,255) , 2,2,0,0 );
    -fx-font-weight: bold;
    -fx-font-size: 2em;
}

.tile .speler
{
    -fx-effect: dropshadow( gaussian, rgb(255,255,255) , 2,2,0,0 );
}s